################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/front-receitas-2.jpg
/front-receitas.jpg
